/*
Team 9 - Adelaide
Jun Jen Chan - 341759
Tou Lee - 656128
David Monroy - 610346
Daniel Teh - 558424
Jaime Martinez - 642231
*/
extend layout
head
block content
  body
    script(src="https://maps.googleapis.com/maps/api/js?libraries=visualization,geometry&sensor=true_or_false")
    script(src="https://www.google.com/jsapi")
    .container-fluid
      .text-center
        .row
          .col-xs-3.col.xs-offset-1
            #selector1.textStyle(style = "display:block")
              label.text-info(for="option1") Select view:
              select.form-control#views(onchange="configureDropDownLists(this,document.getElementById('values'))")
                option(value="")
                option(value="Sentiment") Sentiment
                option(value="Source") Tweet source
                option(value="Days") Tweets per day
                option(value="Origin") Origin
                option(value="PerDay") Sentiments Per Day
                option(value="Religion") Sentiments Per Religion
                option(value="AllTweets") Hospitals and Airports
          .col-xs-3
            #selector2.textStyle(style = "display:none")
              label.text-info(for="option2") Select type:
              select.form-control#values(onchange="enableGetView(this)")
              input#htmap(type="checkbox", name="htmap", checked=(true===false ? "checked" : undefined))
              |  FTLayer?
          .col-xs-3
            #typeNum.textStyle(style = "display:none")
              label.text-info(for="option1") Write number:
              input.form-control#topnum(type="number", placeholder="Leave blank for all values")
        br
        .row
          .col-xs-2.col.xs-offset-1
            #buttons
              button.btn.btn-success.btn-sm.btn-block#getView(style = "display:block" type="button",disabled="",onclick="GetViewButton()") Get View
                span.fa.fa-send
              button.btn.btn-danger.btn-sm.btn-block#reset(style = "display:block" type="button", onclick="javascript:location.reload(true)",disabled="") Reset
                span.fa.fa-repeat
        .row
          .col-xs-6#loading.col-xs-push-2(style = "display:none")
            i.fa.fa-spinner.fa-5x.fa-spin
            | Loading please wait...
        br
        .row.collapse
          .col-xs-10.col-xs-offset-1
            #map-canvas(style="width:100%; height:500px; margin-left:0px;")
            .row#map(style="display:none")
              .col-xs-12
                h2.text-center.text-success
        //  .col-xs-5
          //  iframe#ftlayer(src="https://www.google.com/fusiontables/embedviz?q=select+col0+from+1LXmoPasly1z3jqQHYdzrc4IKYkPIlSDmyZIW3ORa&viz=MAP&h=false&lat=-35.38390438777715&lng=138.9491878106992&t=1&z=9&l=col0&y=2&tmplt=2&hml=KML" style="display:none; width:100%; height:500px; margin-left:0px;")
        .row
          .col-xs-6.col-xs-offset-2
            #chart
        .row
          .col-xs-5.col-xs-offset-2
            #chart2
          .col-xs-5
            #chart3
        .row
          .col-xs-5.col-xs-offset-2
            #chart4
          .col-xs-5
            #chart5
        .row
          #error
  script(src="controllers/requests.js")
  script(src="home.js")
  script(src="controllers/all_tweets.js")
  script(src="controllers/charts.js")
  script(src="controllers/charts.js")
