/*
Team 9 - Adelaide
Jun Jen Chan - 341759
Tou Lee - 656128
David Monroy - 610346
Daniel Teh - 558424
Jaime Martinez - 642231
*/
extend layout
block content
	body
		.container
			.jumbotron.text-center
				h1
					|  Welcome to CCC Adelaide!
				script.
					setTimeout('window.location.href="/home"', 3000)
				h6
					p If you are not automatically redirected please
						a(href="/home") click here
