doctype html
html
  head
    title CCC Adelaide API
    block scripts
    script(src="//code.jquery.com/jquery-1.11.2.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    br
    h3.text-center
      p.bg-primary
      |  Cluster and Cloud Computing
      p.bg-primary
      |  Adelaide
  block content
